@{
    ViewBag.Registration = "Registration";
}
<div class="container">
    <h2>Registration</h2>

    <form action="Result" method="post">
        First Name: <input type="text" name="Firstname" required /><br />
        Last Name: <input type="text" name="Lastname" required /><br>
        Email: <input type="text" name="Email" pattern="^[a-zA-Z0-9._+-]+&#64;[a-zA-Z0-9.-]+\.[a-zA-Z]{2,9}$" required /><br>

        <div>
            <p>Your email must contain the following:</p>
            <p>An <b>at</b> symbol</p>
            <p>A <b>period</b></p>
        </div>

        Password: <input type="password" id="psw" name="psw" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required><br>

        <div id="message">
            <p>Your password must contain the following:</p>
            <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
            <p id="capital" class="invalid">A <b>uppercase</b> letter</p>
            <p id="number" class="invalid">A <b>number</b></p>
            <p id="length" class="invalid">Minimum of <b>8 characters</b></p>
        </div>

        <input type="checkbox" id="checkData"> Don't check this box!<br>

        <input type="submit" value="Submit"><br>
    </form>
</div>